*{
    box-sizing: border-box;
}

body{
    padding: 1.5rem;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.rubik-logo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.b612-regular {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 0;
}

h4{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 14px;
    margin-left: 1rem;
}

p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.logo{
    width: 34px;
}
header{
    width: 100%;
    height: 130px;
    border-bottom: 1.5px solid black;
    padding: 66px 24px 13px 24px;
}
.header-wrapper, .section-head, .expand-product{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
}
.nav-button{
    width: 26px;
}
.hero-container, .tech-img-container, .motion-img-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.button{
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    border: 1px solid black;
    padding: 8px 6px;
    margin-left: 1rem;
}
.section-head{
    margin: 80px 1rem 40px 1rem;
}

.arrow-controls{
    gap: 1rem;
}

.product-container{
    width: 225px;
    margin: 1rem;
    margin-bottom: 100px;
}
.product-img-container{
    height: 345px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}
.product, .tech-img, .motion-img{
    height: 100%;
    width: 100%;
}
.product-name{
    margin-left: 0;
}
.color-box{
    width: 13px;
    height: 13px;
    background-color: #464646;
    display: inline-block;
}
.ai-design{
    width: 100%;
    height: 150px;
}
.tech{
    margin-bottom: 60px;
}
.tech-img-container{
    height: 345px;
    width: 345px;
    object-fit: cover;
}
.motion-img-container{
    width: 345px;
    height: 490px;
}

@media screen and (min-width:600px) {
    
}