*{
    box-sizing: border-box;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.rubik-logo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.b612-regular {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.logo{
    width: 34px;
}
header{
    width: 100%;
    height: 130px;
    border-bottom: 1.5px solid black;
    padding: 66px 24px 13px 24px;
}
.header-wrapper, .section-head{
display: flex;
justify-content: space-between;
}

.nav-container{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
}
.nav-button{
    width: 26px;
}
.hero-container{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button{
    display: inline-block;
    border: 1px solid black;
    padding: 8px 6px;
    margin-left: 10%;
}
.section-head{
    margin: 80px 10% 40px 10%;
}

.arrow-controls{
    gap: 1rem;
}

.product-img-container{
    height: 345px;
    width: 225px;
    border: 1px solid black;
    object-fit: cover;
    display: flex;
    justify-content: center;
    
}
.product{
    height: 100%;
    object-fit: inherit;
}

@media screen and (min-width:600px) {
    
}