:root {
	--background: #f1f0ec;
	--ibm-plex: "IBM Plex Mono", monospace;
}

* {
    box-sizing: border-box;
}

body {
	background-color: var(--background);
	margin: 0;
	
}

main{
	padding: 1.5rem;
}

h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-family: var(--ibm-plex);
    font-weight: 700;
    font-size: 14px;
    margin-left: 1rem;
}

p {
    font-family: var(--ibm-plex);
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

/* Header Styling */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.logo {
    width: 34px;
}
header {
    width: 100vw;
    height: 14vh;
    border-bottom: 1.5px solid black;
    padding: 66px 24px 13px 24px;
}

.header-wrapper, .section-head, .expand-product {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
}
.nav-button {
    width: 26px;
}

/* Hidden Menu */

.header-menu {
	height: 82.5vh;
	width: 100vw;
	background-color: var(--background);
	position: relative;
	justify-self: center;
	top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-bar {
	position: relative;
	display: flex;
	align-items: center;
	width: 85vw;
	margin: 3rem;

}

.search-icon {
	position: absolute;
	right: 1rem;
	align-self: center;
}

#searchInput {
	background: none;
	width: 85vw;
	height: 3rem;
	border: 1px solid black;
}

input::placeholder {
	font-family: "IBM Plex Mono";
	padding-left: 1rem;
}
.slogan {
	width: 85vw;
	display: flex;
	justify-content: left;
}

.discover {
  	width: 17.375rem;
  	height: 2.25rem;
  	position: relative;
  	font-size: 0.875rem;
  	text-transform: uppercase;
  	display: inline-block;
  	font-family: 'IBM Plex Mono';
  	color: #000;
  	text-align: left;
	font-weight: 700;
	margin-left: 0;
}

.menu-section {
	width: 85vw;
	align-self: center;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.menu-option {
	font-family: "IBM Plex Mono";
	font-size: .875rem;
	font-weight: 400;
	align-self: left;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.menu-arrow {
	padding-left: .5rem;
}

.menu-footer {
	width: 100vw;
	position: absolute; 
	bottom: 0;
}

.menu-footer-content {
	font-family: "IBM Plex Mono";
	font-size: .75rem;
	font-weight: 700;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.hidden {
	display: none;
}


/* Main */

.hero-container, .tech-img-container, .motion-img-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.button{
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    border: 1px solid black;
    padding: 8px 6px;
    margin-left: 1rem;
}
.section-head{
    margin: 80px 1rem 40px 1rem;
}

.arrow-controls{
    gap: 1rem;
}

.product-scroll{
	height: 33rem;
	display: flex;
	overflow: auto;
	white-space: nowrap;
}
::-webkit-scrollbar{
	display: none;
}

.product-container{
    width: 225px;
    margin: 1rem;
    margin-bottom: 100px;
	flex-shrink: 0;
}
.product-img-container{
    height: 345px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}
.product, .tech-img, .motion-img{
    height: 100%;
    width: 100%;
}
.product-name{
    margin-left: 0;
}
.color-box{
    width: 13px;
    height: 13px;
    background-color: #464646;
    display: inline-block;
}

.description {
	width: 14.0625rem;
	height: 2.53913rem;
	text-wrap: wrap;
	color: #000;
	font-family: var(--ibm-plex);
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.0225rem;
}

.description p {
	margin: 0;
	padding-top: 1rem;
}

.tech{
    margin-bottom: 60px;
}
.tech-img-container{
    height: 345px;
    width: 345px;
    object-fit: cover;
}
.motion-img-container{
    width: 345px;
    height: 490px;
}

/* Footer Styling */

footer {
  	width: 100%;
  	height: 53.25rem;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 0.625rem;
  	color: #000;
  	font-family: 'B612';
}

.kontakt {
  	position: absolute;
  	top: 8.813rem;
  	left: 1.25rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.support {
  	position: absolute;
  	top: 11.313rem;
  	left: 1.25rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.fretag {
  	position: absolute;
  	top: 13.813rem;
  	left: 1.25rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.flj-oss {
  	position: absolute;
  	top: 16.313rem;
  	left: 1.25rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.rttslig {
  	position: absolute;
  	top: 18.813rem;
  	left: 1.25rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.handla-i {
  	position: absolute;
  	top: 36.75rem;
  	left: 1.438rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
}
.sprk {
  	position: absolute;
  	top: 39rem;
  	left: 1.438rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
}
.nyhetsbrev {
  	position: absolute;
  	top: 27.438rem;
  	left: 1.438rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.e-postadress {
  	position: absolute;
  	top: 29.188rem;
  	left: 1.438rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.span {
  	font-size: 0.75rem;
}
.sverige {
  	position: absolute;
  	top: 36.75rem;
  	left: 5.313rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.svenska {
  	position: absolute;
  	top: 39rem;
  	left: 3.875rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 7.813rem;
  	height: 0.75rem;
}
.upphovsrtt-2025-luxurywear-container {
  	position: absolute;
  	top: 48.781rem;
  	left: 1.438rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 22.438rem;
  	height: 2.25rem;
}
.upphovsrtt {
  	white-space: pre-wrap;
}
.fretagsinformation {
  	text-decoration: underline;
}
.ange-din-e-postadress {
  	position: absolute;
  	top: 32.188rem;
  	left: 1.438rem;
  	color: #4a4749;
}
.footer-stoneisland-item {
  	position: absolute;
  	top: 32.188rem;
  	left: 17rem;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 5.75rem;
  	height: 1.438rem;
}
.fortstta {
  	position: absolute;
  	top: 32.563rem;
  	left: 18.15rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 3.688rem;
  	height: 0.75rem;
}
.div {
  	position: absolute;
  	top: 48.625rem;
  	left: 6.313rem;
  	font-size: 1.188rem;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 1.438rem;
  	height: 0.5rem;
}
.mageplus-icon {
  	position: absolute;
  	top: 8.688rem;
  	left: 21.875rem;
  	width: 1rem;
  	height: 1rem;
}
.footer-stoneisland-mageplus-icon {
  	position: absolute;
  	top: 11.188rem;
  	left: 21.875rem;
  	width: 1rem;
  	height: 1rem;
}
.mageplus-icon2 {
  	position: absolute;
  	top: 13.688rem;
  	left: 21.875rem;
  	width: 1rem;
  	height: 1rem;
}
.mageplus-icon3 {
  	position: absolute;
  	top: 16.188rem;
  	left: 21.875rem;
  	width: 1rem;
  	height: 1rem;
}
.mageplus-icon4 {
  	position: absolute;
  	top: 18.688rem;
  	left: 21.875rem;
  	width: 1rem;
  	height: 1rem;
}
.mageplus-icon5 {
  	position: absolute;
  	top: 36.625rem;
  	left: 22.063rem;
  	width: 1rem;
  	height: 1rem;
}
.mageplus-icon6 {
  	position: absolute;
  	top: 38.875rem;
  	left: 22.063rem;
  	width: 1rem;
  	height: 1rem;
}




@media screen and (min-width:600px) {
    
}